/node_modules

/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
.env.vessel
.env.bak
.env.bckp
.env-mix

_ide_helper.php
.phpstorm.meta.php
refresh.sh
.DS_Store
.php_cs.cache
cghooks.lock